@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}



h4 {
    font-weight: 500;
    margin: 5px;
}

.profession {
    color: #F7F6FB;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

h1.name {
    margin-bottom: 5px;
}

h5.profession {
    margin-top: 0;
    margin-bottom: 40px;
}

body {
    background-color: #CFBDFA;
    margin-top: 25px;
    margin-bottom: 25px;
}

h3 {
    color: #8B1E3F;
    font-size: 24px;
    margin-top: 0;
}

h5 {
    color: #8B1E3F;
    font-size: 18px;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "leftbar rightbar";
    grid-template-columns: 1fr 3fr;

}

.profilepic {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    margin: 30px auto 0 auto;
    display: block
}

.leftbar {
    grid-area: leftbar;
    background-color: #B4A0E5;
    color: #F7F6FB;
}

.rightbar {
    grid-area: rightbar;
    background-color: #F7F6FB;
    color: #000;
    padding: 70px;
}

.navigation {
    margin-bottom: 30px;
    z-index: 3;
}

.navigation a {
    text-decoration: none;
    color: #F7F6FB;
}

.navigation h2 {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin: 0;
    font-size: 24px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.title {
    padding-left: 30px;
}

.navigation h2:hover {
    color: #8B1E3F;
    background-color: #F7F6FB;
}

.contact {
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact p {
    margin: 10px 10px 10px 0;
}

.active {
    color: #8B1E3F;
    background-color: #F7F6FB;
}

.job {
    display: grid;
    grid-template-areas: "jobimg jobright";
    grid-template-columns: min-content auto;
    grid-gap: 15px;

}

.job h5 {
    margin-top: 0;
}

.jobright {
    grid-area: jobright;
    margin-top: 0;
    margin-bottom: 15px;
}

.jobright p {
    margin: 0;

}

.jobright h5 {
    margin-top: 0;
    margin-bottom: 15px;
}

.jobimg {
    grid-area: jobimg;
    max-width: 100px;

}

.school {
    display: grid;
    grid-template-areas: "schoolimg schoolright";
    grid-template-columns: min-content auto;
    grid-gap: 15px;

}

.schoolright {
    grid-area: schoolright;
    margin-top: 0;
    margin-bottom: 15px;
}

.schoolright p {
    margin: 0;

}

.schoolright h5 {
    margin-top: 0;
    margin-bottom: 15px;
}

.schoolimg {
    grid-area: schoolimg;
    max-width: 100px;
}

.schools {
    display: grid;
    grid-gap: 20px;
}

.jobs {
    display: grid;
    grid-gap: 20px;
}

.referenssi h5 {
    margin-bottom: 15px;
}

.referenssi p a {
    color: #8B1E3F;
    text-decoration: none;
}

.sumbit {
    background-color: #CFBDFA;
    color: #F7F6FB;
    float: right;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
}

.sumbit:hover {
    background-color: #B4A0E5;
    color: #F7F6FB;
    cursor: pointer;
}

.sumbit:focus {
    font-weight: 600;
}

.fullname {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    box-sizing: border-box;
}

.email {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    box-sizing: border-box;
}

.message {

    width: 100%;
    height: 140px;
    resize: none;
    padding-top: 8px;
    padding-left: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    box-sizing: border-box;

}

.box {
    max-width: 307px;
    margin-bottom: 5px;
    width: 100%;
}

.fade {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 2;

}

.progressbar {
    width: 100%;
    max-width: 150px;
    height: 25px;
    background-color: #efefef;
    border: 1px solid #8776b5;
    

}

.inner {
    height: 100%;
    background-color: #CFBDFA;
}

.skills {
    display: grid;
    grid-template-areas: "skillsleft skillsright";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.skillsleft {
    grid-area: skillsleft;
}

.skillsright {
    grid-area: skillsright;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

}

.skilltext {
    display: flex;
    align-items: center;
}

.topbar {
    display: none;
    color: #F7F6FB;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #CFBDFA;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;


}

.closebtn {
    display: none;
}

#menu:checked~.topbar .closebtn {
    display: block;
}

#menu:checked~.topbar .openbtn {
    display: none;
}

#menu:checked~.navigation {
    display: block;
}

#menu:checked~.fade {
    display: block;
}

.topbar h2 {
    margin: 0;
    padding: 10px;
}

@media screen and (max-width: 500px) {

    .skills {
        grid-template-areas: "skillsleft" "skillsright";
        grid-template-columns: none;
    }

    .school {
        grid-template-areas: "schoolimg" "schoolright";
        grid-template-columns: none;
        text-align: center;

    }

    .schoolimg {
        justify-self: center;
    }

    .rightbar {
        padding: 30px;
    }

    .rightbar h3 {
        text-align: center;
    }

    .job {
        grid-template-areas: "jobimg" "jobright";
        grid-template-columns: none;
        text-align: center;
    }

    .jobimg {
        justify-self: center;
    }


}


@media screen and (max-width: 768px) {
    
    .title {
        padding: 0;
        text-align: center;
    }

    .wrapper {
        grid-template-areas: "leftbar" "rightbar";
        grid-template-columns: none;
    }

    .topbar {
        display: block;
    }

    .navigation {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #CFBDFA;
    }

    .navigation h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
    }

    body {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

    }

    .box {
        max-width: 100%;

    }

}

